*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    background-color: #f9fdfd;
}
.title h1{
    text-align: center;
    padding-top:50px ;
    font-size: 42px;
    color: #090808;
}
.title h1::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color: #000;
    display: block;
    margin: auto;
}
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
/* card color change */
.card{
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color:  rgb(255, 255, 255);
    border-radius: 10px;
    height: 450px;
    
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}

/* h2 color change */
.card h2{
    font-size: 28px;
    color: #0e0e0e;
    margin-bottom: 20px;
}

.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #0e0e0e;
    text-align: justify;
}


@media screen and(max-width: 940px){
   .services{
    display: flex;
    flex-direction: column;
   } 
   .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
   }
}
